@import "../../../styles/colors.scss";

$holdTextColor: $primary-100;
$holdBackgroundColor: $secondary2-100;
$holdBorderColor: $secondary-100;

$hoverTextColor: $primary-200;
$hoverBackgroundColor: $secondary2-200;
$hoverBorderColor: $secondary-200;

$activeTextColor: $primary-300;
$activeBackgroundColor: $secondary2-300;
$activeBorderColor: $secondary-300;

$disabledTextColor: $primary-400;
$disabledBackgroundColor: $secondary2-400;
$disabledBorderColor: $secondary-400;