$primary: #0015CF;
$secondary: #62534C;
$success: #4DD200;
$danger: #D72C45;
$warning: #FFF941;
$info: #12DDE0;

$primary-100: #8070D8;
$primary-200: #604BD8;
$primary-300: #2E16B1;
$primary-400: #3B2E84;
$primary-500: #180773;

$secondary-100: #EA69A6;
$secondary-200: #EA3A8D;
$secondary-300: #D50065;
$secondary-400: #A02860;
$secondary-500: #8A0041;

$success-100: #61D89F;
$success-200: #36D88A;
$success-300: #00B25C;
$success-400: #218555;
$success-500: #00733C;

$minor-100: #FFE373;
$minor-200: #FFD840;
$minor-300: #FFCB00;
$minor-400: #BFA230;
$minor-500: #A68400;
