$primary: #0015CF;
$secondary: #62534C;
$success: #4DD200;
$danger: #D72C45;
$warning: #FFF941;
$info: #12DDE0;

$primary-100: #028E9B;
$primary-200: #35C0CD;
$primary-300: #5EC4CD;
$primary-400: #1E6D74;
$primary-500: #015C65;

$secondary-100: #2818B1;
$secondary-200: #5B4CD8;
$secondary-300: #7C71D8;
$secondary-400: #382F85;
$secondary-500: #130873;

$secondary2-100: #70E500;
$secondary2-200: #95F23C;
$secondary2-300: #AEF26D;
$secondary2-400: #6AAC2B;
$secondary2-500: #499500;

$additional-100: #FF7800;
$additional-200: #FF9A40;
$additional-300: #FFB573;
$additional-400: #BF7330;
$additional-500: #A64E00;