%button-template {
    background-color: #580ead;
    border: 2px solid #b1009b;

    cursor: pointer;

    &:hover {
        color: #fff140;
        background-color: #8742d6;
        border-color: #d836c4;
    }

    &:active {
        color: #fff573;
        background-color: #9c6ad6;
        border-color: #d861c9;
    }

    &:disabled {
        color: #a69a00;
        background-color: #370470;
        border-color: #730065;
    }
}
