<ng-container [ngSwitch]="_type">
    <ng-container *ngSwitchCase="'js'">
        <ngx-codemirror #codeMirror class="code-wrapper-code-mirror" [ngModel]="code" (ngModelChange)="onCodeChange($event)" [options]="{
            lineWrapping: true,
            extraKeys: { 'Ctrl-Space': 'autocomplete' },
            mode: { name: 'javascript', globalVars: true},
            readOnly: readOnly
        }"></ngx-codemirror>
        <ng-container>
            <ng-content select="app-code-wrapper-errors"></ng-content>
        </ng-container>
    </ng-container>