<ngx-codemirror
    #inputCM
    class="input-text" 
    [(ngModel)]="inputText"
    (ngModelChange)="proccess()"
></ngx-codemirror>

<ngx-codemirror
    #functionCM
    class="function-text" 
    [(ngModel)]="functionText"
    (ngModelChange)="proccess()"
    [options]="{
        lineNumber: true,
        extraKeys: { 'Ctrl-Space': 'autocomplete' },
        mode: { name: 'javascript', globalVars: true}
    }"
></ngx-codemirror>

<ngx-codemirror
    #outputCM
    class="output-text" 
    [ngModel]="outputText"
></ngx-codemirror>
