$primary: #0015cf;
$secondary: #62534c;
$success: #4dd200;
$danger: #d72c45;
$warning: #fff941;
$info: #12dde0;

$primary-100: #028e9b;
$primary-200: #35c0cd;
$primary-300: #5ec4cd;
$primary-400: #1e6d74;
$primary-500: #015c65;

$secondary-100: #2818b1;
$secondary-200: #5b4cd8;
$secondary-300: #7c71d8;
$secondary-400: #382f85;
$secondary-500: #130873;

$secondary2-100: #70e500;
$secondary2-200: #95f23c;
$secondary2-300: #aef26d;
$secondary2-400: #6aac2b;
$secondary2-500: #499500;

$additional-100: #ff7800;
$additional-200: #ff9a40;
$additional-300: #ffb573;
$additional-400: #bf7330;
$additional-500: #a64e00;
