<div class="inputs" id="inp1">
    <app-work-controler></app-work-controler>
    <app-input-patterns></app-input-patterns>
    <app-input-result-pattern></app-input-result-pattern>
</div>
<div class="outputs" id="inp2">
    <app-groups-viewer></app-groups-viewer>
    <app-result-viewer></app-result-viewer>
</div>



<!-- <as-split>
    <as-split-area [size]="30" class="inputs" id="inp1">
        <as-split [direction]="'vertical'">
            <as-split-area>
                <app-input-patterns></app-input-patterns>
            </as-split-area>
            <as-split-area>
                <app-input-result-pattern></app-input-result-pattern>
            </as-split-area>
        </as-split>
    </as-split-area>
    <as-split-area [size]="30" class="outputs" id="inp2">
        <app-groups-viewer></app-groups-viewer>
        <app-result-viewer></app-result-viewer>
    </as-split-area>
</as-split> -->