<ngx-codemirror
    #regExpCM
    class="reg-exp-pattern" 
    [(ngModel)]="regExpPattern"
    (ngModelChange)="setRegExpPattern()"
    [options]="{
        lineWrapping: true
    }"
></ngx-codemirror>

<ngx-codemirror
    #textCM
    class="text-pattern" 
    [(ngModel)]="textPattern"
    (ngModelChange)="setTextPattern()"
    [options]="{
        lineWrapping: true,
        extraKeys: { 'Ctrl-Space': 'autocomplete' },
        mode: { name: 'javascript', globalVars: true}
    }"
></ngx-codemirror>

<!-- <as-split [direction]="'vertical'">
    <as-split-area [size]="50">
        <ngx-codemirror
            #regExpCM
            class="reg-exp-pattern" 
            [(ngModel)]="regExpPattern"
            (ngModelChange)="setRegExpPattern()"
            [options]="{
                lineWrapping: true
            }"
        ></ngx-codemirror>
    </as-split-area>
    <as-split-area [size]="50">
        <ngx-codemirror
            #textCM
            class="text-pattern" 
            [(ngModel)]="textPattern"
            (ngModelChange)="setTextPattern()"
            [options]="{
                lineWrapping: true,
                extraKeys: { 'Ctrl-Space': 'autocomplete' },
                mode: { name: 'javascript', globalVars: true}
            }"
        ></ngx-codemirror>
    </as-split-area>
</as-split> -->