@import "../../styles/colors.scss";

:host {

    flex: 1;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

header {}

section {}

.service-section {
    padding: 10px 10px 50px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    border: 2px solid orange;

    &__header {
        display: flex;

        &-title {
            margin: 0;
            font-size: 27pt;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        & menu {
            padding: 20px 25px;
            margin: 2px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

            & li {
                margin: 3px 0;
            }

            & a {
                color: orange;
            }
        }

        &-see-more {
            margin-right: 20px;
            align-self: flex-end;

            color: $secondary-100;
        }
    }
}

.divider {
    margin: 3px 10px 0;
    height: 2px;

    background-color: orange;
}