@import "../styles/colors.scss";

:host {
    padding: 10px;

    display: flex;
    justify-content: space-between;

    align-items: center;

    background-color: $primary-400;
}

.icon {
    height: 100%;

    display: flex;

    cursor: pointer;

    &>img {
        max-height: 100%;
    }
}

.user-icon {
    position: relative;
    display: flex;
}