@import '../../styles/colors.scss';

:host {
    width: 500px;

    position: fixed;

    bottom: 0;
    right: 0;


    display: flex;
    flex-direction: column;

    background-color: black;

    border: 2px solid white;
    border-top-left-radius: 25px;
}

.header {
    padding-left: 25px;

    display: flex;
    justify-content: space-between;
}

.content {
    max-height: 80vh;
    overflow: auto;
}

.footer {
    display: flex;
}