%option-template {
    height: 32px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    font-size: 18px;

    color: #ffec00;
    background-color: #580ead;
    border: 2px solid #b1009b;

    user-select: none;

    &:hover {
        color: #fff140;
        background-color: #8742d6;
        border: 2px solid #d836c4;
    }

    &:active {
        color: #fff573;
        background-color: #9c6ad6;
        border: 2px solid #d861c9;
    }
}

:host {
    width: 170px;
    display: inline-flex;

}

.kit-combobox {
    position: relative;

    flex: 1;
    display: flex;


    cursor: pointer;

    &-value {
        @extend %option-template;

        flex: 1;
    }

    &-options {
        width: 100%;
        position: absolute;

        overflow: hidden;
        z-index: 1500;

        &-option {
            @extend %option-template;

            box-sizing: border-box;
        }
    }
}