<div class="kit-combobox">
    <div *ngIf="optionValue" class="kit-combobox-value" (click)="opened = !opened">
        {{ optionValue.text }}
    </div>
    <div *ngIf="groups.length !== 0" [@listState]="opened ? 'opened' : 'closed'" class="kit-combobox-groups">
        <ng-content select="kit-combobox-option-group"></ng-content>
    </div>
    <div *ngIf="groups.length === 0" [@listState]="opened ? 'opened' : 'closed'" class="kit-combobox-options">
        <ng-content select="kit-combobox-option"></ng-content>
    </div>
</div>