@import "../styles/colors";

$secondary-100: red;

:host {
    flex: 1;

    display: grid;
    grid-template-rows: 60px auto;

    background-color: black;
    color: $primary-300;
}

main {
    display: flex;
    justify-content: center;

    overflow: hidden;
}

.description {}

.part {
    & .examples {}
}