:host {
    padding: 5px;
    border-radius: 50%;

    background-color: #fff;

    overflow: hidden;

    cursor: pointer;

    &:hover {
        background-color: #ddd;
    }

    & > img {
        max-width: 100%;
        max-height: 100%;
    }
}
