$textColor: black;
$circleBorderColor: black;
$circleColor: black;

$hoverTextColor: black;
$hoverCircleBorderColor: black;
$hoverCircleColor: gray;

$checkedTextColor: black;
$checkedCircleBorderColor: black;
$checkedCircleColor: blue;