<kit-text [type]="'title'">Profile</kit-text>

<div>
	<kit-expansion-panel style="width: 100%;" [scroll]="false">
		<kit-button (click)="changePasswordDialogVisible = true"
			>Change password</kit-button
		>
	</kit-expansion-panel>
</div>

<kit-modal-dialog
	[opened]="changePasswordDialogVisible"
	(close)="changePasswordDialogVisible = false"
>
	<kit-label text="New password">
		<kit-text-field></kit-text-field>
	</kit-label>
	<kit-label text="New password confirm">
		<kit-text-field></kit-text-field>
	</kit-label>
</kit-modal-dialog>
