<div>
    <h4 class="title">
        Regular expression
    </h4>

    <span class="description">
    </span>

</div>

<main>
    <section class="part"> 
        <div class="part-upper">
            <a routerLink="/regular-expression/group-mover">
                <h4 class="title">Group mover</h4>
            </a>

            <ul>
                <li>Use one furction for each match</li>
                <li>Use one furction for each match</li>
                <li>Use one furction for each match</li>
            </ul>
            <button class="part-upper-more-button" (click)="groupMover.opened = !groupMover.opened">More</button>
        </div>
        <div *ngIf="groupMover.opened" class="part-lower">
            <div class="part-lower-section">
                <h3 class="part-lower-section-title">1. Each function text</h3>
                <div class="part-lower-section-description">
                    <span>Cause function for each match</span>
                    <div class="part-lower-section-description-text-section">
                        <pre>\\d+\\)\\s*(.*\\?)\\s*(a\\)\\s*(.*)\\s*)?(b\\)\\s*(.*)\\s*)?(c\\)\\s*(.*)\\s*)?(d\\)\\s*(.*)\\s*)?</pre>

                        <!-- <app-code-wrapper
                            [code]="'\\d+\\)\\s*(.*\\?)\\s*(a\\)\\s*(.*)\\s*)?(b\\)\\s*(.*)\\s*)?(c\\)\\s*(.*)\\s*)?(d\\)\\s*(.*)\\s*)?'"
                            [readOnly]="true">
                        </app-code-wrapper>
                        
                        <app-code-wrapper
                            [code]="'1) Biggest maintain?\n a) Goverla\n b) Alps\n c) Everest +\n\n2) Deepest vpadina?\n a) Marianska +\n b) Ukraine\n c) Black sea\n\n3) Richest human?\n a) Donald Trump\n b) Jeff Bezos +\n c) Bill Gates\n d) Gabe Newell'"
                            [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                    <div class="part-lower-section-description-text-section">
                        <pre>
1) Biggest maintain?
 a) Goverla
 b) Alps
 c) Everest +

2) Deepest vpadina?
 a) Marianska +
 b) Ukraine
 c) Black sea

3) Richest human?
 a) Donald Trump
 b) Jeff Bezos +
 c) Bill Gates
 d) Gabe Newell
                        </pre>

                    </div>
                    <div class="part-lower-section-description-code-section">
                        <!-- <pre>
function(match, index) {{'{'}}
    const question = match[1]
    const a = match[3];
        const b = match[5];
        const c = match[7];
        const d = match[9];
    
        let answer = '';
    
        if(a && a[a.length - 1] === '+') answer = a;
        if(b && b[b.length - 1] === '+') answer = b;
        if(c && c[c.length - 1] === '+') answer = c;
        if(d && d[d.length - 1] === '+') answer = d;
    
    return `${{'{'}}question{{'}'}} - ${{'{'}}answer{{'}'}}\n`;
{{'}'}}
                        </pre> -->
                        <app-code-wrapper
                            [code]="'function(match, index) {\n	const question = match[1]\n    const a = match[3];\n  	const b = match[5];\n  	const c = match[7];\n  	const d = match[9];\n  \n  	let answer = \'\';\n  \n  	if(a && a[a.length - 1] === \'+\') answer = a;\n  	if(b && b[b.length - 1] === \'+\') answer = b;\n  	if(c && c[c.length - 1] === \'+\') answer = c;\n  	if(d && d[d.length - 1] === \'+\') answer = d;\n  \n    return `${question} - ${answer}\\n`;\n}'"
                            [readOnly]="true">
                        </app-code-wrapper>
                    </div>
                    <div class="part-lower-section-description-text-section">
                        <pre>
Biggest maintain? - Everest +
Deepest vpadina? - Marianska +
Richest human? - Jeff Bezos +'</pre>
                        <!-- <app-code-wrapper
                            [code]="'Biggest maintain? - Everest +\nDeepest vpadina? - Marianska +\nRichest human? - Jeff Bezos +'"
                            [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                </div>
            </div>
            <div class="part-lower-section">
                <h3 class="part-lower-section-title">2. Global function text</h3>
                <div class="part-lower-section-description">
                    <span>Cause function for all matches</span>
                    <div class="part-lower-section-description-text-section">
                        <!-- <app-code-wrapper [code]="'(.*): (\\+\\d+\\((\\d{3})\\) (\\d+)-(\\d+)-(\\d+))'"
                            [readOnly]="true">
                        </app-code-wrapper>

                        <app-code-wrapper
                            [code]="'Phone book:\n\nRostyslav: +38(097) 000-00-00\nRostik: +38(096) 000-00-00\nAnatolii: +38(094) 000-00-00\nNatalia: +38(096) 000-00-00'"
                            [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                    <div class="part-lower-section-description-code-section">
                        <app-code-wrapper
                            [code]="'function(matches) {\n	let operators = {};\n  for(let i = 0; i \< matches.length; i++) {\n      const match = matches[i];\n      if(operators[match[3]]) operators[match[3]]++;\n    	else operators[match[3]] = 1;\n    }\n  \n  let result = \'\';\n  \n   const keys = Object.keys(operators);\n  for(let i = 0; i \< keys.length; i++){\n    result += `Operator (${keys[i]}) count is ${operators[keys[i]]} \n`;\n  }\n  \n  return result;\n}'"
                            [readOnly]="true">
                        </app-code-wrapper>
                    </div>
                    <div class="part-lower-section-description-text-section">
                        <!-- <app-code-wrapper
                            [code]="'Operator (097) count is 1 \nOperator (096) count is 2 \nOperator (094) count is 1 '"
                            [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                </div>
            </div>
            <div class="part-lower-section">
                <h3 class="part-lower-section-title">3. Arguments as groups of match</h3>
                <div class="part-lower-section-description">
                    <span>
                        Match groups as arguments where index of group is number of argument, cause for each
                        matches
                    </span>
                    <div class="part-lower-section-description-text-section">
                        <!-- <app-code-wrapper [code]="'(.*)\\?(\\s*.*\\s*.*\\s*.*\\s*)'" [readOnly]="true">
                        </app-code-wrapper>

                        <app-code-wrapper
                            [code]="'1) Some question?\na) Some answer A\nb) Some answer B\nc) Some answer C\n\n2) Some question?\na) Some answer A\nb) Some answer B\nc) Some answer C'"
                            [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                    <div class="part-lower-section-description-code-section">
                        <!-- <app-code-wrapper [code]="'%2: %3'" [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                    <div class="part-lower-section-description-text-section">
                        <!-- <app-code-wrapper
                            [code]="'1) Some question:\na) Some answer A\nb) Some answer B\nc) Some answer C\n\n2) Some question:\na) Some answer A\nb) Some answer B\nc) Some answer C'"
                            [readOnly]="true">
                        </app-code-wrapper> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>